{
  "root": true,
  "extends": [
    "standard",
    "prettier",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
  ],
  "plugins": ["jest", "@typescript-eslint", "no-secrets"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "camelcase": "off",
    "comma-dangle": ["error", "always-multiline"],
    "no-unused-vars": "off", // covered by @typescript-eslint/no-unused-vars
    "no-use-before-define": "off", // covered by @typescript-eslint/no-use-before-define
    "no-throw-literal": "error",
    "no-restricted-imports": ["error", { "patterns": ["../*"] }],
    "import/order": [
      "warn",
      {
        "newlines-between": "always-and-inside-groups",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true,
        },
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          ["sibling", "index"],
        ],
        // We can group imports further by adding rules here, the order they're defined in breaks ties when group and position are equal
        "pathGroups": [],
      },
    ],
    "@typescript-eslint/no-use-before-define": "error",
    "@typescript-eslint/no-explicit-any": "warn", // TODO: tighten up typing, upgrade this to error
    "@typescript-eslint/no-unused-vars": [
      "warn",
      { "ignoreRestSiblings": true, "argsIgnorePattern": "^_.+" },
    ],
    "@typescript-eslint/no-redeclare": "error",
    "@typescript-eslint/ban-types": [
      "error",
      {
        "types": {
          "React.FunctionalComponent": {
            "message": "FunctionalComponent is discouraged, prefer a plain function. See https://github.com/facebook/create-react-app/pull/8177",
          },
          "React.FC": {
            "message": "FC is discouraged, prefer a plain function. See https://github.com/facebook/create-react-app/pull/8177",
          },
        },
      },
    ],
    "no-secrets/no-secrets": "error",
  },
  "overrides": [
    {
      "files": ["**/*test.js", "**/*test.ts", "**/*test.tsx"],
      "env": {
        "jest/globals": true,
      },
    },
    {
      "files": ["**/*.cjs"],
      "rules": {
        "@typescript-eslint/no-var-requires": 0,
      },
    },
  ],
  "ignorePatterns": [
    "k8s/mongodb-operator/operator", // not to be maintained or edited by us, comes from https://github.com/mongodb/mongodb-kubernetes-operator
    "**/dist", // generated (build outputs)
  ],
}
