{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": [".*rc", "*.json", "*.jsonc"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
