---
apiVersion: v1
kind: Namespace
metadata:
  name: cert-manager
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: cert-manager
  namespace: cert-manager
spec:
  interval: 24h
  url: https://charts.jetstack.io
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
  namespace: cert-manager
spec:
  interval: 1m
  chart:
    spec:
      chart: cert-manager
      version: 'v1.16.1'
      sourceRef:
        kind: HelmRepository
        name: cert-manager
        namespace: cert-manager
      interval: 12h
  values:
    crds:
      enabled: true
      keep: false
    global:
      leaderElection:
        namespace: cert-manager
    extraArgs:
      - '--issuer-ambient-credentials=true'
    enableCertificateOwnerRef: true
    resources:
      requests:
        cpu: 250m
        memory: 512Mi
    webhook:
      resources:
        requests:
          cpu: 250m
          memory: 512Mi
    cainjector:
      resources:
        requests:
          cpu: 250m
          memory: 512Mi
