{
  "extends": ["../.eslintrc"],
  "env": {
    "browser": true,
    "es6": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["./", "./node_modules/"]
      }
    }
  }
}
