steps:
  - id: 'Generate manifests'
    name: 'gcr.io/cloud-builders/gcloud@sha256:9ca2ae51ee5e3a4dff5aa02af60acb6a4bec63d837f6252f63e190751207c017'
    dir: kubernetes
    script: |
      #!/usr/bin/env bash
      set -euxo pipefail

      # mirror kustomize-controller build options
      kustomize_flags=("--load-restrictor=LoadRestrictionsNone")
      kustomize_config="kustomization.yaml"

      echo "INFO - Generating kustomize overlays"
      find . -type f -name $kustomize_config -print0 | while IFS= read -r -d $'\0' file;
        do
          echo "INFO - Generating kustomization ${file/%$kustomize_config}"
          kustomize build "${file/%$kustomize_config}" "${kustomize_flags[@]}" >> /workspace/resources.yaml
          echo "---" >> /workspace/resources.yaml
      done

  - id: Validate schema
    name: 'ghcr.io/yannh/kubeconform:latest-alpine@sha256:47141997365b1f6aa914b2e801cb9772b94c2696c279e2046a4517d5bfd8a09a'
    dir: kubernetes
    args:
      - -skip=Secret
      - -strict
      - -ignore-missing-schemas
      - -schema-location=default
      - >-
        -schema-location=
        'https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json'
      - -verbose
      - /workspace/resources.yaml
options:
  defaultLogsBucketBehavior: REGIONAL_USER_OWNED_BUCKET
