{
  "extends": [
    "../.eslintrc",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:react/jsx-runtime",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": ["react", "@typescript-eslint", "jsx-a11y"],
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "es6": true
  },
  "settings": {
    "react": {
      "version": "18"
    },
    "import/resolver": {
      "node": {
        "moduleDirectory": ["./", "node_modules/"]
      }
    }
  },
  "rules": {
    "react/prop-types": "off"
  },
  "globals": {
    "window": true
  }
}
