{
  "extends": ["../.eslintrc", "plugin:node/recommended"],
  "plugins": ["node"],
  "env": {
    "node": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "@typescript-eslint/parser": ["./", "node_modules/"]
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "rules": {
    "node/no-unsupported-features/es-syntax": [
      "error",
      { "ignores": ["modules"] }
    ],
    "no-console": 0
  }
}
