{
  "extends": ["../.eslintrc", "plugin:node/recommended"],
  "env": {
    "node": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["./", "./node_modules/"]
      }
    }
  },
  "rules": {
    "node/no-unsupported-features/es-syntax": [
      "error",
      { "ignores": ["modules"] }
    ],
    "node/no-missing-import": 0, // https://github.com/mysticatea/eslint-plugin-node/issues/248
    "no-console": 0
  }
}
